@import url("https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&display=swap");

.top-nav {
  position: sticky;
  top: 0;
  background-color: rgb(6, 7, 49);
}
.symbol {
  font-size: 30px;
  font-weight: 700;
  font-family: "Arsenal";
  float: left;
  margin-left: 10px;
  color: rgb(212, 224, 231);
}
.symbol:hover {
  color: rgb(119, 186, 241);
}

.nav {
  display: flex;
  list-style: none;
  font-size: 20px;
  font-weight: 400;
  font-family: "Arsenal";
  text-align: center;
}

.nav li {
  width: 125px;
  padding: 10px;
  color: rgb(212, 224, 231);
}
.nav li:hover {
  color: rgb(119, 186, 241);
}
.icon {
  color: rgb(212, 224, 231);
}
.icon-heart {
  color: red;
}
